body {
    width: auto;
    height: auto;
    font-family: sans-serif;
    color: #595959;
}

.destaque {
    color: #38AFD1;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid #D9D9D9;
}

.nav p {
    cursor: pointer;
}

.navcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    gap: 50px;
}

.navcontent button {
    border-radius: 10px;
    border-style: solid;
    height: 5vh;
    width: 12vw;
    cursor: pointer;
    transition: 0.3s;
}

.navcontent button:first-of-type {
    border-color: #38AFD1;
    border-width: 1px;
}

.navcontent button:first-of-type:hover {
    background-color: #38AFD1;
    color: white;
    border-style: none;
}

.navcontent button:last-of-type {
    background-color: #38AFD1;
    color: white;
    border-style: none;
}

.navcontent button:last-of-type:hover {
    background-color: #2F6F9B;
    border: 1px solid #38AFD1;
}

.section_one {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.services_div {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.info {
    display: flex;
    justify-content: space-between;
}

.infotext {
    margin-left: 20%;
    font-size: 20px;
}

.mainimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10%;
    margin-left: -10%;
}

.engenheiro {
    width: 50%;
    height: 100%;
}

.search {
    margin-right: 15%;
}

.searchtitle {
    font-weight: normal;
}

.inputsearch {
    width: 70%;
    height: 5vh;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding-left: 30px;
    border-color: #595959;
    outline: none;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #38AFD1; /* Cor do ícone */
}

.service_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    background-color: #F7F7F7;
    border: solid 1px #D9D9D9;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.services_info {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    width: 5vw;
    height: 10vh;
    border-radius: 40px;
    border: #595959 1px solid;
    justify-content: center;
    align-items: center;
}

.circle_icon {
    width: 4vw;
}

.services_separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_info p {
    white-space: nowrap;
}

.section_two {
    display: flex;
    flex-direction: column;
}

.title_unicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 5%;
}

.line {
    flex-grow: 0.4;
    height: 1px;
    background-color: #38AFD1;
}

.div_diferenciais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px;
    margin-top: 5%;
    width: auto;
}

.div_diferenciais p {
    margin-top: 0%;
    justify-content: center;
    text-align: center;
}


.diferencial_icon {
    width: 4vw;
}

.diferencial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posts_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.post_home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
}

.post_home img {
    width: 400px;
    height: 300px;
    min-width: 400px;
    min-height: 300px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
    border: 1px solid #a8a7a7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    margin-top: 10px;
}

.post_home h2 {
    color: #FFFFFF;
    font-size: 22px;
    text-align: left; /* Alinha o texto à esquerda */
    position: relative;
    bottom: 100px; /* Mantém o ajuste vertical */
    left: 18px; /* Move o h2 para a esquerda, ajustável (pode usar left: 20px para deslocar mais) */
}

.post_home h4 {
    max-width: 30ch; /* Aumentar o limite para evitar corte abrupto */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px; /* Aumentar um pouco o tamanho */
    font-weight: normal; /* Peso normal para melhor legibilidade */
    position: relative;
    bottom: 140px;
    left: 20px;
    text-align: center;
    color: #FFFFFF; /* Cor mais escura para melhor contraste */
}


.more_button {
    border-radius: 20px;
    border-style: none;
    color: #F7F7F7;
    background-color: #38AFD1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 4.2vh;
    width: 12vw;
    cursor: pointer;
    margin-top: 2%;
    transition: 0.3s;
    box-shadow: 0px 7px 6.5px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.more_button:hover {
    background-color: #2F6F9B;
}

.funciona_div {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.funciona_faxineira {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.funciona_div span {
    font-weight: bold;
}

.funciona_div p {
    line-height: 3vh;
    max-width: 90%;
    font-size: 12px;
}

.div_sobre {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.sobre_mecanico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

.div_sobre p {
    line-height: 3vh;
    max-width: 60%;
    font-size: 15px;
    margin-left: 15%;
}

.div_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px;
    width: 90%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: auto;
}

.div_contato p {
    line-height: 1%;
}

.contato_icon {
    width: 3vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F4F6FE;
    margin: 0 auto;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}

.footer_sobre,
.footer_redes,
.footer_paginas,
.footer_regulamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.footer_sobre {
    margin-left: 5vw;
}

.footer_sobre h3 {
    margin-bottom: 4.5vh;
}

.footer_redes,
.footer_paginas,
.footer_regulamento  {
  line-height: 5vh;
}

.footer_line {
    display: block;
    flex-grow: 0.2;
    width: 50%;
    height: 1px;
    background-color: #595959;
}