@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    width: auto;
    height: auto;
    /* font-family: sans-serif; */
    color: #595959;
}

.destaque {
    color: #74C7DF;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid #D9D9D9;
}

.nav p {
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.navcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    gap: 50px;
}

.navcontent button {
    border-radius: 10px;
    border: 2px solid #74C7DF;
    height: 5vh;
    width: 12vw;
    cursor: pointer;
    color: #74C7DF;
    background-color: #FFFFFF;
    transition: 0.3s;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.navcontent button:first-of-type {
    border-color: #74C7DF;
    border-width: 1px;
}

.navcontent button:first-of-type:hover {
    background-color: #74C7DF;
    color: white;
    border-style: none;
    font-weight: 400;
}

.navcontent button:last-of-type {
    background-color: #74C7DF;
    color: white;
    border-style: none;
}

.navcontent button:last-of-type:hover {
    border: 1px solid #74C7DF;
    font-weight: 400;

}

.navcontent button:focus {
    outline: none;
}

.button_profissional {
    background-color: #74C7DF;
    color: #FFFFFF;
}

.section_one {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.services_div {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-top: -2%;
}

.info {
    display: flex;
    justify-content: space-between;
}

.infotext {
    margin-left: 37%;
    margin-top: 7%;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    width: 40%;
    color: #8b8b8b;
}

.mainimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10%;
    margin-left: -10%;
}

.engenheiro {
    width: 50%;
    height: 100%;
}

.search {
    margin-right: 18%;
    margin-top: 2%;
}

.searchtitle {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #8b8b8b;
    margin-left: 16%;
    margin-top: 2%;
    margin-bottom: 3.5%;
}

.inputsearch {
    width: 70%;
    height: 5.3vh;
    margin-left: 16%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding-left: 30px;
    border-color: #8b8b8b;
    outline: none;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.inputsearch:focus{
    border-color: #00b7eb;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.searchIcon {
    position: absolute;
    left: 19%;
    top: 50%;
    transform: translateY(-50%);
    color: #38AFD1; 
    cursor: pointer;
}

.service_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    background-color: #F7F7F7;
    border: solid 1px #D9D9D9;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.services_info {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: #8b8b8b 1px solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle_icon {
    width: 4vw;
}

.services_separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_info p {
    white-space: nowrap;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #8b8b8b;
    cursor: pointer;
}

.section_two {
    display: flex;
    flex-direction: column;
}

.title_unicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1%;
}

.line {
    flex-grow: 0.4;
    height: 1px;
    background-color: #38AFD1;
}

.div_diferenciais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px;
    margin-top: 1.5%;
    width: auto;
}

.div_diferenciais p {
    margin-top: 0%;
    justify-content: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #8b8b8b;
}

.div_diferenciais h4 {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
}


.diferencial_icon {
    width: 4vw;
}

.diferencial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, color 0.3s;
}

.diferencial:hover {
    cursor: pointer;
    transform: scale(1.08);
    color: #74C7DF;
}

.posts_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.post_home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: -125px;
    cursor: pointer;
}


.post_home img {
    width: 400px;
    height: 300px;
    min-width: 400px;
    min-height: 300px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
    border: 1px solid #a8a7a7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.5s;
}

.post_home h2 {
    color: #FFFFFF;
    font-size: 22px;
    text-align: left; /* Alinha o texto à esquerda */
    position: relative;
    bottom: 100px; /* Mantém o ajuste vertical */
    left: 18px; /* Move o h2 para a esquerda, ajustável (pode usar left: 20px para deslocar mais) */
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    transition: transform 0.5s;
}

.post_home h4 {
    max-width: 30ch; /* Aumentar o limite para evitar corte abrupto */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px; /* Aumentar um pouco o tamanho */
    font-weight: normal; /* Peso normal para melhor legibilidade */
    position: relative;
    bottom: 140px;
    left: 20px;
    text-align: center;
    color: #FFFFFF; /* Cor mais escura para melhor contraste */
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    transition: transform 0.5s;
}

.post_home:hover img, .post_home:hover h2, .post_home:hover h4 {
    transform: scale(1.05);
}


.more_button {
    border-radius: 20px;
    border-style: none;
    color: #F7F7F7;
    background-color: #74C7DF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 4.2vh;
    width: 12vw;
    cursor: pointer;
    margin-top: 1.5%;
    transition: 0.3s;
    box-shadow: 0px 7px 6.5px rgba(0, 0, 0, 0.25);
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.more_button:hover {
    font-family: "Rubik", sans-serif;
    font-weight: 400; 
    box-shadow: 0px 7px 6.5px rgba(0, 0, 0, 0.19);
}

.funciona_div {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.funciona_faxineira {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.funciona_div span {
    font-family: "Rubik", sans-serif;
    font-weight: 600; 
}

.funciona_div p {
    line-height: 3vh;
    max-width: 90%;
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 400; 
}

.div_sobre {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 1%;
}

.sobre_mecanico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

.div_sobre p {
    line-height: 3vh;
    max-width: 60%;
    margin-top: 4%;
    font-size: 15px;
    margin-left: 15%;
    font-family: "Rubik", sans-serif;
    font-weight: 400; 

}

.div_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px;
    width: 90%;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: auto;
    margin-bottom: 2.6%;
}

.div_contato p {
    line-height: 1%;
    font-family: "Rubik", sans-serif;
    font-weight: 400; 
}

.div_contato h4 {
    font-family: "Rubik", sans-serif;
    font-weight: 500; 
}

.contato_icon {
    width: 3vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F4F6FE;
    margin: 0 auto;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: -70px;
    width: 105.2%;
}

.footer_sobre,
.footer_contatos,
.footer_paginas,
.footer_regulamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.footer h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

.footer h3:hover {
    color: #00b7eb;
}

.footer a {
    font-size: 12px;
    margin-bottom: -5%;
    cursor: pointer;
    transition: 0.5s;}

.footer a:hover {
    transform: scale(1.05);
    color: #00b7eb;
}

.footer_sobre {
    margin-left: 5%;
    margin-top: 0.5%;
}

.footer_sobre p {
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.footer_sobre h3 {
    margin-left: -50%;
}

.footer_sobre span {
    height: 2.29px;
    margin-right: 80%;
    margin-top: -4%;
}

.footer_contatos,
.footer_paginas,
.footer_regulamento{
    line-height: 5vh;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    align-items: flex-start;
    text-align: left;
    margin-left: 5vw;
}


.footer_line {
    display: block;
    flex-grow: 0.2;
    width: 15%;
    height: 2.3px;
    background-color: #00b7eb;
    margin-top: -6%;
}